/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1040px;
}
.main-content-box{
	max-width: 900px;
	margin: 0 auto;
	margin-top: 100px;
	.hentry{
		padding: 70px;
	}
}
.pad-small-lr{
		padding-left: 30px;
		padding-right: 30px;
	}

	.pad-small-tb{
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.logo-mK img{
		width: 100px;
		margin-top: 0;
	}
	.h-100{
		height: 100px;
	}

	/*main menu styles*/

	.main-menu{
		padding-top: 25px;
		ul{
			li{
				@extend .pad-small-lr;
				ul.sub-menu {
					margin-left: -30px;
					li {
						a{
							width: auto;
						}
					}
				}
			}
		}
	}



	/*********************
	HEADER STYLES
	*********************/

	.header {
		background-color: $white;
		border-bottom: 1px solid #e7e7e7;
	}

		#logo {
			margin: 0.75em 0;

			a {
				color: $white;
			}
		}


	/* front page only styles */
	.front_page{
		.header {
			background-color: transparent;
			border-bottom: 0px solid #ccc;
		}
	}
	/* front page only stle ends here */